$main: #557153;

section {
    width: 85%;
    margin: 0 auto;
    height: fit-content;
    margin-top: 2rem;
    padding-bottom: 75px;

    .vehicle-container {
        width: 100%;

        .vehicle-topdeals {
            h2 {
                text-align: center;
                font-size: 36px;
                margin-bottom: 3rem;
            }

            .vehicle-card {
                display: grid;
                grid-template-columns: repeat(3, minmax(0, 1fr));
                gap: 0.5rem;

                .card {
                    border-radius: 0.5rem;
                    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1),
                        0 1px 2px -1px rgb(0 0 0 / 0.1);
                    padding: 15px;
                    position: relative;

                    button {
                        border: none;
                        position: absolute;
                        right: 0;
                        background-color: transparent;
                        margin-right: 5px;

                        i {
                            cursor: pointer;
                        }
                    }

                    .button.red {
                        i {
                            cursor: pointer;
                            color: red;
                        }
                    }

                    img {
                        object-fit: cover;
                        height: 150px;
                    }

                    .card-title {
                        margin-top: 5px;
                        .card-year {
                            color: #808080;
                            margin-bottom: 5px;
                        }

                        .card-price {
                            margin-top: 5px;
                            margin-bottom: 10px;
                            p {
                                display: inline;
                                font-size: 14px;
                                color: #808080;
                            }

                            .card-priceday {
                                margin-right: 5px;
                            }

                            .card-pricemonth {
                                margin-left: 5px;
                            }
                        }
                    }

                    .card-desc {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: space-between;

                        .shiftgear {
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            justify-content: space-between;

                            img {
                                width: 50px;
                                height: 50px;
                            }

                            p {
                                color: $main;
                            }
                        }

                        .gas {
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            justify-content: space-between;

                            i {
                                margin-right: 5px;
                            }

                            p {
                                color: $main;
                            }
                        }
                    }

                    .card-link {
                        text-align: center;
                        border-radius: 0.5rem;
                        background-color: $main;
                        cursor: pointer;
                        padding: 8px 16px;
                    }
                }
            }
        }

        .vehicle-topBrands {
            margin-top: 5rem;

            h2 {
                text-align: center;
                font-size: 36px;
                margin-bottom: 3rem;
            }

            .vehicle-card {
                display: grid;
                grid-template-columns: repeat(3, minmax(0, 1fr));
                gap: 0.5rem;

                .card {
                    border-radius: 0.5rem;
                    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1),
                        0 1px 2px -1px rgb(0 0 0 / 0.1);
                    padding: 15px;
                    position: relative;

                    button {
                        border: none;
                        position: absolute;
                        right: 0;
                        background-color: transparent;
                        margin-right: 5px;

                        i {
                            cursor: pointer;
                        }
                    }

                    .button.red {
                        i {
                            cursor: pointer;
                            color: red;
                        }
                    }

                    img {
                        object-fit: cover;
                        height: 150px;
                    }

                    .card-title {
                        margin-top: 5px;
                        .card-year {
                            color: #808080;
                            margin-bottom: 5px;
                        }

                        .card-price {
                            margin-top: 5px;
                            margin-bottom: 10px;
                            p {
                                display: inline;
                                font-size: 14px;
                                color: #808080;
                            }

                            .card-priceday {
                                margin-right: 5px;
                            }

                            .card-pricemonth {
                                margin-left: 5px;
                            }
                        }
                    }

                    .card-desc {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: space-between;

                        .shiftgear {
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            justify-content: space-between;

                            img {
                                width: 50px;
                                height: 50px;
                            }

                            p {
                                color: $main;
                            }
                        }

                        .gas {
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            justify-content: space-between;

                            i {
                                margin-right: 5px;
                            }

                            p {
                                color: $main;
                            }
                        }
                    }

                    .card-link {
                        text-align: center;
                        border-radius: 0.5rem;
                        background-color: $main;
                        cursor: pointer;
                        padding: 8px 16px;
                    }
                }
            }
        }
        .vehicle-featuredBrands {
            margin-top: 5rem;

            h2 {
                text-align: center;
                font-size: 36px;
                margin-bottom: 3rem;
            }

            .vehicle-card {
                display: grid;
                grid-template-columns: repeat(3, minmax(0, 1fr));
                gap: 0.5rem;

                .card {
                    border-radius: 0.5rem;
                    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1),
                        0 1px 2px -1px rgb(0 0 0 / 0.1);
                    padding: 15px;
                    position: relative;

                    button {
                        border: none;
                        position: absolute;
                        right: 0;
                        background-color: transparent;
                        margin-right: 5px;

                        i {
                            cursor: pointer;
                        }
                    }

                    .button.red {
                        i {
                            cursor: pointer;
                            color: red;
                        }
                    }

                    img {
                        object-fit: cover;
                        height: 150px;
                    }

                    .card-title {
                        margin-top: 5px;
                        .card-year {
                            color: #808080;
                            margin-bottom: 5px;
                        }

                        .card-price {
                            margin-top: 5px;
                            margin-bottom: 10px;
                            p {
                                display: inline;
                                font-size: 14px;
                                color: #808080;
                            }

                            .card-priceday {
                                margin-right: 5px;
                            }

                            .card-pricemonth {
                                margin-left: 5px;
                            }
                        }
                    }

                    .card-desc {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: space-between;

                        .shiftgear {
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            justify-content: space-between;

                            img {
                                width: 50px;
                                height: 50px;
                            }

                            p {
                                color: $main;
                            }
                        }

                        .gas {
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            justify-content: space-between;

                            i {
                                margin-right: 5px;
                            }

                            p {
                                color: $main;
                            }
                        }
                    }

                    .card-link {
                        text-align: center;
                        border-radius: 0.5rem;
                        background-color: $main;
                        cursor: pointer;
                        padding: 8px 16px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 1114px) {
    section {
        .vehicle-container {
            .vehicle-topdeals {
                .vehicle-card {
                    display: grid;
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                    gap: 0.5rem;

                    .card {
                        img {
                            object-fit: cover;
                            height: 50px;
                        }

                        .card-title {
                            .title {
                                font-size: 10px;
                            }

                            .card-price {
                                span {
                                    display: none;
                                }

                                .card-pricemonth {
                                    margin-left: 0;
                                }
                            }
                        }

                        .card-desc {
                            display: block;
                            .shiftgear {
                                margin-left: -15px;
                                img {
                                    width: 40px;
                                    height: 40px;
                                }

                                p {
                                    font-size: 12px;
                                }
                            }

                            .gas {
                                margin-bottom: 5px;

                                i {
                                    font-size: 15px;
                                }
                            }
                        }

                        .card-link {
                            padding: 5px 10px;
                        }
                    }
                }
            }
            .vehicle-topBrands {
                .vehicle-card {
                    display: grid;
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                    gap: 0.5rem;

                    .card {
                        img {
                            object-fit: cover;
                            height: 50px;
                        }

                        .card-title {
                            .title {
                                font-size: 10px;
                            }

                            .card-price {
                                span {
                                    display: none;
                                }

                                .card-pricemonth {
                                    margin-left: 0;
                                }
                            }
                        }

                        .card-desc {
                            display: block;
                            .shiftgear {
                                margin-left: -15px;
                                img {
                                    width: 40px;
                                    height: 40px;
                                }

                                p {
                                    font-size: 12px;
                                }
                            }

                            .gas {
                                margin-bottom: 5px;

                                i {
                                    font-size: 15px;
                                }
                            }
                        }

                        .card-link {
                            padding: 5px 10px;
                        }
                    }
                }
            }
            .vehicle-featuredBrands {
                .vehicle-card {
                    display: grid;
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                    gap: 0.5rem;

                    .card {
                        img {
                            object-fit: cover;
                            height: 50px;
                        }

                        .card-title {
                            .title {
                                font-size: 10px;
                            }

                            .card-price {
                                span {
                                    display: none;
                                }

                                .card-pricemonth {
                                    margin-left: 0;
                                }
                            }
                        }

                        .card-desc {
                            display: block;
                            .shiftgear {
                                margin-left: -15px;
                                img {
                                    width: 40px;
                                    height: 40px;
                                }

                                p {
                                    font-size: 12px;
                                }
                            }

                            .gas {
                                margin-bottom: 5px;

                                i {
                                    font-size: 15px;
                                }
                            }
                        }

                        .card-link {
                            padding: 5px 10px;
                        }
                    }
                }
            }
        }
    }
}
