.container {
    width: 100%;
    position: relative;

    .breadcrumb-background {
        background-image: url('../assets//img/heroes-bg.png');
        height: 400px;
        filter: blur(8px);
        -webkit-filter: blur(8px);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media only screen and (min-width: 320px) and (max-width: 1114px) {
    .container {
        display: none;
    }
}
