.container {
    width: 100%;
    position: relative;

    .breadcrumb-background {
        background-image: url('../assets//img/heroes-bg.png');
        height: 400px;
        filter: blur(8px);
        -webkit-filter: blur(8px);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bradcrumb-link {
        width: 85%;
        margin: 0 auto;
        margin-top: -15rem;

        h2 {
            position: absolute;
        }

        p {
            margin-top: 40px;
            position: absolute;
            font-size: 20px;

            .link {
                margin: 0 5px;
                text-decoration: none;
                color: #000;
                cursor: pointer;

                &:hover {
                    color: #5705da;
                }
            }
        }
    }
}
