$main: #557153;

.hero {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 10px;

    .hero-container {
        width: 85%;
        margin: 0 auto;
        height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;

        .hero-title {
            width: 40%;
            margin-top: 10rem;

            h1 {
                font-size: 36px;
                color: $main;
                margin-bottom: 20px;
            }

            p {
                font-size: 20px;
                margin-bottom: 10px;
            }

            .hero-socmed {
                width: 100%;
                p {
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 40px;
                }

                .hero-apps {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;

                    .google-play {
                        width: 50%;

                        img {
                            width: 100%;
                        }
                    }

                    .apple-store {
                        width: 50%;

                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .hero-img {
            width: 55%;
            background-color: $main;
            border-radius: 1rem;
            height: 100%;
            position: relative;
            img {
                width: 175%;
                position: absolute;
                margin-top: -5rem;
                margin-left: -25rem;
                object-fit: cover;
            }
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 1114px) {
    .hero {
        .hero-container {
            display: block;
            height: fit-content;

            .hero-title {
                width: 100%;
                margin-top: 1rem;

                .hero-socmed {
                    p {
                        margin-bottom: -1.5rem;
                    }
                }
            }

            .hero-img {
                width: 100%;
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    margin: 0 auto;
                    width: 120%;
                }
            }
        }
    }
}
