@import '../../../styles/variables';

.hero {
    width: $full;
    padding-top: 1rem;
    padding-bottom: 10px;

    .hero-container {
        @include container;
        @include flex-box;
        gap: 1rem;

        height: 100vh;

        .hero-title {
            width: 40%;
            margin-top: 10rem;

            h1 {
                font-size: $primary-fz;
                color: $primary-color;
                margin-bottom: 20px;
            }

            p {
                font-size: $third-fz;
                margin-bottom: 10px;
            }

            .hero-socmed {
                width: $full;
                p {
                    font-size: $third-fz;
                    font-weight: bold;
                    margin-bottom: 40px;
                }

                .hero-apps {
                    width: $full;
                    @include flex-box;

                    .google-play {
                        width: calc($full / 2);

                        img {
                            width: $full;
                        }
                    }

                    .apple-store {
                        width: calc($full / 2);

                        img {
                            width: $full;
                        }
                    }
                }
            }
        }

        .hero-img {
            width: 55%;
            background-color: $primary-color;
            border-radius: 1rem;
            height: $full;
            position: relative;
            img {
                width: 175%;
                position: absolute;
                margin-top: -5rem;
                margin-left: -25rem;
                object-fit: cover;
            }
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 1114px) {
    .hero {
        .hero-container {
            display: block;
            height: fit-content;

            .hero-title {
                width: $full;
                margin-top: 1rem;

                .hero-socmed {
                    p {
                        margin-bottom: -1.5rem;
                    }
                }
            }

            .hero-img {
                width: $full;
                height: 200px;
                @include flex-box;
                img {
                    margin: 0 auto;
                    width: $full + 20%;
                }
            }
        }
    }
}
