$main: #557153;
$orange: #ff4d30;

.book {
    width: 85%;
    margin: 0 auto;
    height: fit-content;
    margin-top: 5rem;
    padding-bottom: 20px;

    .book-container {
        width: 100%;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
            0 4px 6px -2px rgba(0, 0, 0, 0.05);

        border-radius: 0.5rem;
        padding: 15px 20px;

        h2 {
            color: $main;
        }

        form {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 0.5rem;

            margin-top: 15px;

            .car-type,
            .pick-up,
            .drop-off {
                label {
                    i {
                        color: $orange;
                    }

                    b {
                        color: red;
                    }
                }

                select {
                    width: 100%;
                    margin-top: 10px;
                    display: block;
                    padding: 1rem 1.5rem;
                }
            }

            .pick-up,
            .drop-off {
                label {
                    i {
                        color: $orange;
                    }

                    b {
                        color: red;
                    }
                }

                input {
                    width: 100%;
                    margin-top: 10px;
                    display: block;
                    padding: 1rem 1.5rem;
                }
            }

            .search {
                button {
                    width: 100%;
                    margin-top: 27px;
                    display: block;
                    padding: 0.75rem 1.5rem;
                    background-color: $main;
                    color: #fff;
                    font-size: 22px;
                    font-weight: 700;
                    border: 1px solid yellow;
                    cursor: pointer;
                    transition: all 0.2s;

                    &:hover {
                        background-color: #3d503c;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 1114px) {
    .book {
        margin-top: 7rem;
        .book-container {
            form {
                grid-template-columns: repeat(1, minmax(0, 1fr));
            }
        }
    }
}
